# This file describes the python package requirements for all Qiskit scripts
# supported by ProvideQ

# required for Qiskit MaxCut solver
numpy == 1.26.*
pygmlparser == 1.0.*
qiskit == 0.45.1
qiskit-optimization == 0.6.1
qiskit-algorithms==0.2.2
qiskit-aer == 0.13.3
