# This file describes the python package requirements for the Qrisp QUBO solver
qrisp == 0.4.4
numpy == 1.26.4
gurobipy == 13 # for lp file reading
sympy == 1.12.1 # needed but not specified in qrisp requirements