# base64 encoded GAMS license
# In Linux / WSL shell:
#   base64 ./gamslice.txt
GAMS_LICENSE="INSERT LICENSE HERE"

# Port that the server should be started on
SERVER_PORT=8000

# URL that the server should be deployed on (without http:// or https://)
URL_SERVER=api.provideq.kit.edu

# URL that the web frontend should be deployed on (without http:// or https://)
URL_WEB=provideq.kit.edu

# Environment mode, either "dev" or "prod"
ENV_MODE=prod
