HELP.md
*.DS_Store
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### Solution Files from Vehicle Routing Solver:
*.sol

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/main
bin/test
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### virtual envs and python ###
venv/
__pycache__/

### ProvideQ toolbox-server ###
# input, output and temporary files for solving problems with our solvers
/jobs/

# Software license key for GAMS, used for a docker container with GAMS included
gamslice.txt

# Listing files compiled from our GAMS scripts
*.lst
*.op2
solvers/gams/**/225a
*.out
