contourpy==1.3.3
cycler==0.12.1
dill==0.4.1
docplex==2.32.264
fonttools==4.62.1
kiwisolver==1.5.0
matplotlib==3.10.9
networkx==3.6.1
numpy==2.4.4
packaging==26.2
pillow==12.2.0
psutil==7.2.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
qiskit==2.4.1
qiskit-aer==0.17.2
qiskit-optimization==0.7.0
rustworkx==0.17.1
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
stevedore==5.7.0
typing_extensions==4.15.0
